@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0px;
  padding: 0px;

}

@media (prefers-color-scheme: dark) {
  :root {
    margin: 0px;
    padding: 0px;
  }
}

html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: auto;

}



* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

datalist {
  position: absolute;
  max-height: 20em;
  border: 1px solid;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

datalist option {
  background-color: #ffffff;
  color: "#000000";
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

datalist option:hover,
datalist option:focus {
  color: #fff;
  background-color: #036;
  outline: 0 none;
}